<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--
  The above 2 meta tags *must* come first in the <head>
  to consistently ensure proper document rendering.
  Any other head element should come *after* these tags.
 -->
<title>{{ site.title }}</title>
<!-- Set the base URL for all relative URLs within the document -->
<base href="{{ site.url }}">

<!--
  Allows control over where resources are loaded from.
  Place as early in the <head> as possible, as the tag  
  only applies to resources that are declared after it.
-->

<!-- Short description of the document (limit to 150 characters) -->
<!-- This content *may* be used as a part of search engine results. -->
<meta name="description" content="{{ site.description }}">

<!-- Control the behavior of search engine crawling and indexing -->
<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<!-- Verify website ownership -->
<meta name="google-site-verification" content="{{ site.google-site-verification }}"><!-- Google Search Console -->
<meta name="yandex-verification" content="{{ site.yandex-verification }}"><!-- Yandex Webmasters -->
<meta name="msvalidate.01" content="{{ site.msvalidate }}"><!-- Bing Webmaster Center -->
<meta name="alexaVerifyID" content="{{ site.alexaVerifyID }}"><!-- Alexa Console -->
<meta name="p:domain_verify" content="{{ site.pinterestdomain_verify }}"><!-- Pinterest Console-->
<meta name="norton-safeweb-site-verification" content="{{ site.norton-safeweb }}"><!-- Norton Safe Web -->

<!-- Allows control over how referrer information is passed -->
<!-- <meta name="referrer" content="no-referrer"> -->

<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone={{ site.detectphone }}">

<!-- Completely opt out of DNS prefetching by setting to "off" -->
<meta http-equiv="x-dns-prefetch-control" content="on">

<!-- Geo tags -->
<!-- meta name="ICBM" content="latitude, longitude"-->
<!-- meta name="geo.position" content="latitude;longitude"-->
<!-- meta name="geo.region" content="country[-state]"><Country code (ISO 3166-1): mandatory, state code (ISO 3166-2): optional; eg. content="US" / content="US-NY" -->
<!-- meta name="geo.placename" content="city/town"><eg. content="New York City" -->

<!-- Link to an external CSS file -->
<link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Courgette&family=Lobster&family=Pacifico&family=Yellowtail&family=Noto+Sans+JP:wght@400;900&family=Poppins:wght@500&family=Righteous&family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.css" integrity="sha256-Jkvafttj5/OrkR0q/vRkO5h3pe4DCTwHoLVTi4Llcv8=" crossorigin="anonymous">

<!-- Manage to use the BootCDN in mainland to accelerate -->
<!-- Using cdnjs for better international accessibility -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<!-- Jquery CDN -->
 <!-- 国内CDN，不太稳定 -->
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- BootStrap CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 

<!-- Provides information about an author or another person -->
<link rel="me" href="mailto:{{ site.email }}">
<link rel="me" href="sms:+{{ site.phonenumber }}">

<!-- Open Search -->
<!-- link rel="search" href="/open-search.xml" type="application/opensearchdescription+xml" title="Search Title" -->

<!-- Feeds -->
<!-- link rel="alternate" href="https://feeds.feedburner.com/example" type="application/rss+xml" title="RSS" -->
<!-- link rel="alternate" href="https://example.com/feed.atom" type="application/atom+xml" title="Atom 0.3" -->

<!-- For IE 10 and below -->
<!-- Place favicon.ico in the root directory - no tag necessary -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
<link rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<meta property="fb:app_id" content="{{ site.fbappid }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title}}, {{ site.description }}">
<meta property="og:image" content="{{ site.image }}">
<meta property="og:image:alt" content="{{ site.image_alt }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="{{ site.author }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:creator" content="@{{ site.twitter }}">
<meta name="twitter:url" content="{{ site.url }}">
<meta name="twitter:title" content="{{ site.description }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.image }}">
<meta name="twitter:image:alt" content="{{ site.image_alt }}">

<!-- Used for adding in-document CSS -->

<!-- baidu analytics -->
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?e6b2754620d35fa5515b1c41425456f8";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<meta name="referrer" content="strict-origin-when-cross-origin">

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Disable the script because of the restriction -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-D3KXW27WMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D3KXW27WMG');
</script> -->

<!-- JavaScript & No-JavaScript tags -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/monokai-sublime.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>


<!--
<script>
    $(document).ready(function() {
        $(".toast").toast('show');
    });
</script> -->