---
layout: page
title:  Research Projects
permalink: projects.html
---
{% assign theme = site.data.themes[site.ui_theme] %}
<div class="blogcard  card-2 mb-4" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title text-center" style="font-size:{{ theme.post-title-size }};font-weight:{{ theme.post-font-weight }};">{{ page.title }}</h5>
  </div>
</div>

{% for projects in site.data.projects %}
    <div class="media mt-2" style="margin-bottom: 50px;">
        <a href="{{ projects.link }}"><img src="{{ projects.image }}" class="mr-3 mb-2 img-thumbnail border-0" style="max-width: 200px;" alt="..."></a>
        <div class="media-body">
            <h5 class="mt-0"><a href="{{ projects.link }}" class="highlighted">{{ projects.name }}</a></h5>
            {{ projects.description }}
            {% if projects.tech %}
            <h6><mark><u>Keywords</u></mark></h6>
            {% for tech in projects.tech %}
            <span class="badge badge-secondary mr-1" style="background-color:{{ theme.projects-color }};">{{ tech }}</span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endfor %}