<!DOCTYPE html>
{% assign theme = site.data.themes[site.ui_theme] %}
<html>
  {% include head-blog.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      {% if page.header-img %}
      <div class="card border-0">
          <div class="card-body">
            <p class="card-text">
                {{ content }}
            </p>
            {% if page.last-updated %}
              <p class="card-text"><small class="text-muted">This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.</small></p>
            {% endif %}
          </div>
      </div>
      {% else %}
      <div class="card border-0">
          <div class="card-body">
            <p class="card-text">
                {{ content }}
            </p>
            {% if page.last-updated %}
              <p class="card-text"><small class="text-muted">This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.</small></p>
            {% endif %}
          </div>
      </div>
      {% endif %}
      {% if page.is_post %}
        {% if site.comments %}
          <div id="gitalk-container"></div>
          <!--  GIT TALK CDN  for comment system -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
          <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
          <script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
          <script>
            id = md5(location.pathname);
            var gitalk = new Gitalk({
              clientID: "{{ site.gitalk_client_id }}",
              clientSecret: "{{ site.gitalk_client_secret }}",
              repo: "{{ site.gitalk_repo }}",
              owner: "{{ site.gitalk_owner }}",
              admin: ["{{ site.gitalk_admin }}"],
              id,
              distractionFreeMode: "{{ site.gitalk_distraction_mode }}" // Facebook-like distraction free mode
            })
            gitalk.render('gitalk-container')
          </script>
        {% endif %}
      {% endif %}
    </div>
    {% include footer.html %}
  </body>
</html>