---
layout: page
---
{% assign theme = site.data.themes[site.ui_theme] %}

<article class="article-container">
  <header class="article-header">
    <div class="article-meta">
      {% if page.tag %}
        <span class="article-tag">{{ page.tag }}</span>
      {% endif %}
      {% if page.date %}
        <time class="article-date" datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %d, %Y" }}
        </time>
      {% endif %}
    </div>
    <h1 class="article-title">{{ page.title }}</h1>
    {% if page.author %}
      <div class="article-author">
        <span class="author-label">By</span> {{ page.author }}
      </div>
    {% endif %}
    {% include social-cards-copy.html %}
  </header>

  <div class="article-content">
    {{ content }}
  </div>

  <footer class="article-footer">
    <div class="article-navigation">
      <a href="/blog.html" class="back-to-blog">
        <span class="arrow-icon">&larr;</span> Back to all posts
      </a>
    </div>
  </footer>
</article>
